#header {
    position: fixed;
    top: 0;
    width: 100%;

}

#googleLogo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 200px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

